body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.header {
  height: 140px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
  color: black;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  gap: 4rem;
  margin-bottom: 5%;
  margin-right: 17%;
}

.header .container {
  justify-content: space-between;
}

.header .container img {
  width: 120px;
  position: relative;
  right: 70px;
  bottom: 10px;

}

/* BANNER */
.banner {
  padding: 40px 20px 30px 10px;
  color: white;
  height: 400px;
  background-image: url(Fotos/a12d5b31-6dba-4b03-a2ad-0e6004971d12.jpg);
  background-size: 100%;
}



/* CTL espaço */
.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 25px;
  width: 20%;
  color: whitesmoke;
  position: relative;
  left: 39%;

}

.banner.container p span {
  font-weight: bold;

}

.social {
  background-color: white;
  padding: 40px 0;
}

.card {
  width: 150px;
  text-align: center;

}

.card img {
  width: 100px;
  margin-top: 15px;
}

.card h4 {
  font-size: 24px;
}

.footer {
  height: 100px;
  background-color: white;
}

.footer .container {
  justify-content: center;
  align-items: center;
  height: 100px;
}

.login .container {
  justify-content: center;
  align-items: center;
  background-image: url();
  background-size: cover;
  height: 75vh;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #32c9cd;
}

.card h2 {
  color: palevioletred;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo input {
  width: 200px;
  padding: 7px 15px;
  border: 2px solid #32c9cd;
  border-radius: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: space-evenly;
}

.formulario button {
  margin: 20px;
  padding: 15px 10px;
  background-color: palevioletred;
  color: white;
  border: none;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 20px;
  text-decoration: none;
}